.enhanceddiv
{
    position:relative;

    overflow:hidden;
}


.enhancedinput
{
    font: 500px monospace;
    opacity:0;
    filter: alpha(opacity=0);
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
    padding:0;
    margin: 0;
}

.enhancedbutton3
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#container {
    position:relative;
}

#img2 {
    position: absolute;
    left: 50px;
    top: 50px;
}